* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background: #fff;
  padding: 30px 40px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}

.Twticon{
  color: rgb(29, 155, 240);
  width: 6vw;
  height: 6vh;
}

.heading2 {
  font-size: 24px;
  margin-top: 30px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.googleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid gray;
  color: black;
  padding:  20px 16px;
  font-size: 1.1rem;
  border-radius: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 70%;
}

.appleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid gray;
  color: black;
  padding:  20px 16px;
  font-size: 1.1rem;
  border-radius: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 70%;
}

.accountButton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  padding:  20px 10px;
  font-size: 1.1rem;
  border-radius: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
}

 p {
     font-weight: bold;
     font-size: 14px;
 }


.heading4 {
  margin-top: 10px;
}
