* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgba(0, 0, 0, 0.4)
  }
  
  .logoBox{
    background: #fff;
    padding: 30px 120px;
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
  }
  .Twticon{
    color: rgb(29, 155, 240);
    width: 6vw;
    height: 6vh;
  }
  
.logoBox p {
  font-size: 18px;
  color: #555;
  /* margin: 40px 0 50px; */

}
.logoBox h1 {
  margin-bottom: 20px;
  margin-top: 23px;
  
}

.cross{
  
  font-size: 2rem;
  position: absolute;
  top: 5%;
  left: 5%;

}
.input {
  width: 90%;
  height: 8%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  margin-top: 12rem;
  margin-left: 30px;
  border-radius: 30px;
  /* background: rgba(0, 0, 0, 0.4); */
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
  color: white;
  font-size: large;
  font-style: Optima, sans-serif;
  background-color: black;
 
 
}
